@{
  Layout = "_Layout";
}

@model BakeryMarket.Models.Flavor

<h3>Remove this Flavor?</h3>

<h4>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Remove Flavor" class="btn btn-default">
}
<p>@Html.ActionLink("Display Flavors", "Index")</p>