@{
  Layout = "_Layout";
}

@using BakeryMarket.Models
@using System.Security.Claims
@model IEnumerable<BakeryMarket.Models.Flavor>

<h2>All flavors</h2>

@if (Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Name}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
}
else
{
  <p>There are no flavors available</p>
}

@if (User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Add new flavor", "Create")</p>
}
else
{
  <p>@Html.ActionLink("Sign in to create flavors", "Login", "Account")</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>